

.main-div1{
  background-color: rgb(52, 93, 129);
}

.inputHome{
  margin: 10px;
  border-radius: 5px;
}


.home-form{
  margin: 0 5%;
  width: 500px;
  border-radius: 5px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-head{
  display: flex;
  justify-content: center;
}

.add-comment{
  height: 100%;
}

.inputHomeHome{
    width: 40%;
    margin: 5px;
    
  
}


.main-thoughts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgb(94,158,160);
  width: 409px;
  height: 50px;
  border-radius: 25px;
}

.SYT{
  margin-left: 5px;
  color: rgb(94,158,160)
}
.SYT-btn{
      background-color: rgb(94,158,160);
      color: white;
      border-radius: 12px;
      padding: 5px;
      cursor: pointer;
}

.SYT-btn:hover{
  background-color: rgb(52, 93, 129);
  color: black;
}



