/* *{
  margin : 0px;
  padding: 0px;
  background-color: aliceblue;
  
} */
/* .container{
  display: flex;
  flex-direction: column;
} */
.card-posts{
  background-color: rgb(94,158,160);
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 20px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  /* padding: 0px 20px; */
  height: 260px;
  width: 225px;
  cursor: pointer;
}
.card-posts:hover{
  /* background-color: rgb(228, 226, 226); */
  box-shadow: 2px 2px 10px rgb(240,128,127);
}

.id-posts{
  /* background-color: rgb(228, 226, 226); */
  text-align: center;
  padding: 5px;
}
.userid-posts{
  /* background-color: rgb(228, 226, 226); */
  text-align: center;
}
.title-posts{
  /* background-color: rgb(228, 226, 226); */
  text-align: center;
}

button{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
}

button:hover{
  
  background-color: black;
  color: white;
}

spanposts{
  /* background-color: rgb(228, 226, 226); */
  font-weight: bold;
}

img{
  height:"200px";
  width:"225px";
}