.main-nav{
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      padding: 10px;
      background-color: rgb(94,158,160,0.7);
      border-radius: 10px;
}

.menu-link{
  display: flex;
}

.log-out{
  display: flex;
}

ul{
  list-style: none;
}
ul a{
  text-decoration: none;
}
ul a:focus {
  text-decoration: underline;
}